#=========================================
# Apache Spark
#=========================================
pyspark==3.5.6
findspark

#=========================================
# Jupyter / VS code Notebook
#=========================================

jupyterlab
notebook
ipykernel
ipywidgets

#=========================================
# Data Analysis
#=========================================

pandas
numpy

#=========================================
# File formats
#=========================================

pyarrow
fastparquet
openpyxl
xlrd

#=========================================
# Visulalization
#=========================================

matplotlib

#=========================================
# Utilities
#=========================================

python-dotenv
requests
tabulate

#=========================================
# Code Quality
#=========================================

black
pytest